@import "tailwindcss";
@import "@heroui/styles";

/*
 * HeroUI Theme Customization
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
    /* Theme Colors (Light Mode) */
    --accent: oklch(76.65% 0.139 91.06);
    --accent-foreground: oklch(14.96% 0 0);
    --background: oklch(97.43% 0.006 75.41);
    --border: oklch(90% 0.01 273.85);
    --danger: oklch(65.32% 0.2375 28.14);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(94% 0.01 273.85);
    --default-foreground: oklch(21.03% 0.0059 273.85);
    --field-background: oklch(100% 0.005 273.85);
    --field-foreground: oklch(21.03% 0.01 273.85);
    --field-placeholder: oklch(55.17% 0.02 273.85);
    --focus: oklch(57.74% 0.2091 273.85);
    --foreground: oklch(14.96% 0 0);
    --muted: oklch(55.17% 0.02 273.85);
    --overlay: oklch(100% 0.003 273.85);
    --overlay-foreground: oklch(21.03% 0.01 273.85);
    --scrollbar: oklch(87.1% 0.01 273.85);
    --segment: oklch(100% 0.01 273.85);
    --segment-foreground: oklch(21.03% 0.01 273.85);
    --separator: oklch(92% 0.01 273.85);
    --success: oklch(73.29% 0.1974 153.21);
    --success-foreground: oklch(21.03% 0.0059 153.21);
    --surface: oklch(100% 0.005 273.85);
    --surface-foreground: oklch(21.03% 0.01 273.85);
    --surface-secondary: oklch(95.24% 0.008 273.85);
    --surface-secondary-foreground: oklch(21.03% 0.01 273.85);
    --surface-tertiary: oklch(93.73% 0.008 273.85);
    --surface-tertiary-foreground: oklch(21.03% 0.01 273.85);
    --warning: oklch(78.19% 0.1617 74.73);
    --warning-foreground: oklch(21.03% 0.0059 74.73);

    /* Border Radius */
    --radius: 0.5rem;
    --field-radius: 1rem;

    /* Font Family */
    /* Make sure to load Inter font in your app */
    --font-sans: var(--font-manrope);
}

.dark,
[data-theme="dark"] {
    color-scheme: dark;
    /* Theme Colors (Dark Mode) */
    --accent: oklch(76.65% 0.139 91.06);
    --accent-foreground: oklch(14.96% 0 0);
    --background: oklch(14.96% 0 0);
    --border: oklch(28% 0.01 273.85);
    --danger: oklch(59.4% 0.2006 27.03);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(27.4% 0.01 273.85);
    --default-foreground: oklch(99.11% 0 0);
    --field-background: oklch(21.03% 0.02 273.85);
    --field-foreground: oklch(99.11% 0.01 273.85);
    --field-placeholder: oklch(70.5% 0.02 273.85);
    --focus: oklch(57.74% 0.2091 273.85);
    --foreground: oklch(99.11% 0.01 273.85);
    --muted: oklch(70.5% 0.02 273.85);
    --overlay: oklch(21.03% 0.02 273.85);
    --overlay-foreground: oklch(99.11% 0.01 273.85);
    --scrollbar: oklch(70.5% 0.01 273.85);
    --segment: oklch(39.64% 0.01 273.85);
    --segment-foreground: oklch(99.11% 0.01 273.85);
    --separator: oklch(25% 0.01 273.85);
    --success: oklch(73.29% 0.1974 153.21);
    --success-foreground: oklch(21.03% 0.0059 153.21);
    --surface: oklch(21.03% 0.02 273.85);
    --surface-foreground: oklch(99.11% 0.01 273.85);
    --surface-secondary: oklch(25.7% 0.015 273.85);
    --surface-secondary-foreground: oklch(99.11% 0.01 273.85);
    --surface-tertiary: oklch(27.21% 0.015 273.85);
    --surface-tertiary-foreground: oklch(99.11% 0.01 273.85);
    --warning: oklch(82.03% 0.1416 78.74);
    --warning-foreground: oklch(21.03% 0.0059 78.74);
}

@layer components {

    /* Afecta a los botones de HeroUI */
    .button,
    button[data-slot="base"] {
        @apply py-5 text-white;
    }

    /* Afecta inputs de Aria/HeroUI */
    input[data-slot="input"],
    .react-aria-Input {
        @apply py-3;
    }

    label,
    .text-label,
    [data-slot="label"] {
        @apply text-muted text-sm mb-1.5 block;
    }


}

@theme {
    --font-sans: var(--font-manrope), ui-sans-serif, system-ui;
    --font-serif: var(--font-newreader), ui-serif, Georgia;
}


body {
    font-family: var(--font-manrope), sans-serif;
}

/* 2. Aplicar Newreader exclusivamente a los títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-newreader), serif;
}